*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


body
{
    background-color: #fff;
}

.cinta-arriba-azul
{
    background: linear-gradient( #453b86 ,#140e39);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinta-arriba-roja
{
    background: linear-gradient(#e75d62 , #a7272b );
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-logo-tec
{
    width: 15%;
}
.logo-tec
{
    width: 100%;
}

.bloque-cinta1
{
    margin-left: 2.5%;
    
}

.texto-cinta-roja
{
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.texto-cinta-roja:hover
{
    color: rgb(216, 216, 216);
    font-size: 16px;
    transition: 500ms;
}

.bloque-cinta2
{
    margin-left: 2.5%;
    
}

.texto-cinta
{
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.texto-cinta:hover
{
    color: rgb(184, 184, 184);
    text-decoration: underline;
    font-size: 16px;
    transition: 500ms;

}

.contenedor-clases
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

h1
{
    color: #000000;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.taller-intro
{
    text-decoration: none;
}

.taller-intro:hover
{
    color: #000000;
}

.a
{
    color: #000000;
    text-decoration: underline;
}

.a:hover
{
    color: #fff;
}

h2
{   color: #000000;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 4%;
}

h3
{
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    margin-top: 3%;
}


h1:hover
{
    color: rgb(255, 255, 255);
}

h2:hover
{
    color: rgb(255, 255, 255);
}

.cuadros_rojos
{
    width: 45%;
    background: linear-gradient(#ff7074,#9e1317);
    border: 1px black solid;
    padding: 1.1%;
}



.cuadros_azules
{
    width: 45%;
    background: linear-gradient( #6b5fbb ,#140e39);
    border: 1px black solid;
    padding: 1.1%;
}

.cuadros_beto
{
    width: 45%;
    background: linear-gradient(#cea800,#da7b00);
    border: 1px black solid;
    padding: 1.1%;
}


/* Estos cuadros de abajo se utilizan unicamente en caso de que sean los ultimos cuadros de la pagina */
.cuadros_rojos_ultimos
{
    width: 45%;
    background: linear-gradient(#ff7074,#9e1317);
    border: 1px black solid;
    
    padding: 1.1%;
}

.cuadros_azules_ultimos
{
    width: 45%;
    background: linear-gradient( #6b5fbb ,#140e39);
    border: 1px black solid;
    margin-bottom: 10%;
    padding: 1.1%;
}


.tabla
{
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

table
{
    border-collapse: collapse;
    width: 90%;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 7px;
    margin: auto;
    padding: 2%;
}

tr, td
{
    border: 1px black solid;
    padding: 3%;
}

td
{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

th
{
    border: 1px black solid;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(89, 101, 211);
    padding: 2%;
}
.boton
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.boton-clase1
{
    width:50%;
    padding: 3%;
    margin-left: 2%;
    background: linear-gradient(rgb(100, 100, 255) , rgb(0, 0, 105)) ;
    margin-top: 5%;
    font-size: 17px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    border: 1px white solid;
    border-radius: 20px;
}

.boton-clase1:hover
{
    border-color: rgb(255, 255, 255);
    background: linear-gradient(rgb(191, 19, 197) , rgb(58, 3, 70));
    cursor: pointer;
}


.cinta-abajo
{
    
    background-color: #c1272d;
    margin-top: 4%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0%;
    position: fixed;
}

.icons
{
    width: 35%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-iconos
{
    width: 10%;
    display: inline-block;
    
    
    
}

.contenedor-iconos:hover
{
    width: 12%;
    transition: 500ms;
}

.contenedor-iconos2
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
    
}

.contenedor-iconos2:hover
{
    width: 12%;
    transition: 500ms;
}

.contenedor-iconos3
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
    
}

.contenedor-iconos3:hover
{
    width: 12%;
    transition: 500ms;
}

.contenedor-iconos4
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
}

.contenedor-iconos4:hover
{
    width: 12%;
    transition: 600ms;
}

img
{
    width: 100%;
}

/* Mensaje Provisional en caso de cambiar de semestre
Es el simbolo de carga y el mensaje. */

/* .MensajeProvisional
{
    width: 50%;
    
    margin: auto auto;
    margin-top: 10%;
    margin-bottom: 121px;
    
}
.MensajeProvisional2
{
    width: 50px;
    
    box-shadow: #000000 5px;
    margin: auto auto;
    margin-top: 3%;
    margin-bottom: 3%;
 
    
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #2712b1;
    border-bottom: 5px solid #2712b1;
    position: relative;
    background: linear-gradient(#c1272d 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
  }
  .loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
  }
  .loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
  }
  @keyframes lqt {
    0%, 100% {
      background-image: linear-gradient(#c1272d 40px, transparent 0);
      background-position: 0% 0px;
    }
    50% {
      background-image: linear-gradient(#c1272d 40px, transparent 0);
      background-position: 0% 40px;
    }
    50.1% {
      background-image: linear-gradient(#c1272d 40px, transparent 0);
      background-position: 0% -40px;
    }
  }
  @keyframes lqb {
    0% {
      background-image: linear-gradient(#c1272d 40px, transparent 0);
      background-position: 0 40px;
    }
    100% {
      background-image: linear-gradient(#c1272d 40px, transparent 0);
      background-position: 0 -40px;
    }
  }
  @keyframes spinx {
    0%, 49% {
      transform: rotate(0deg);
      background-position: 50% 36px;
    }
    51%, 98% {
      transform: rotate(180deg);
      background-position: 50% 4px;
    }
    100% {
      transform: rotate(360deg);
      background-position: 50% 36px;
    }
  } */
      

