*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


body
{
    background-color: #fff;
}


.cinta-arriba-azul
{
    background: linear-gradient( #453b86 ,#140e39);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinta-arriba-roja
{
    background: linear-gradient(#e75d62 , #a7272b );
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-logo-tec
{
    width: 15%;
}
.logo-tec
{
    width: 100%;
}

.bloque-cinta1
{
    margin-left: 2.6%;
    display: block;
}

.texto-cinta-roja
{
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.texto-cinta-roja:hover
{
    color: rgb(216, 216, 216);
    font-size: 16px;
    transition: 500ms;
}

.bloque-cinta2
{
    margin-left: 2.5%;
    
}

.texto-cinta
{
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.texto-cinta:hover
{
    color: rgb(184, 184, 184);
    text-decoration: underline;
    font-size: 16px;
    transition: 500ms;

}




.contenedor-clases
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

h1
{
    color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
h1:hover{
    cursor: default;
    user-select: none;
}


.taller-intro
{
    text-decoration: none;
}

.taller-intro:hover
{
    color: #000000;
}

.a
{
    color: #000000;
    text-decoration: underline;
}

.a:hover
{
    color: #fff;
    font-size: 15px;
    transition: 500ms;
}

h2
{   color: #ffffff;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

h2:hover{
    cursor: default;
    user-select: none;
}

h3
{
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    margin-top: 3%;
}



.cuadros_rojos
{
    width: 45%;
    background: linear-gradient(#ff7074,#9e1317);
    border: 1px black solid;
    padding: 1.1%;
}

.cuadros_azules
{
    width: 45%;
    background: linear-gradient( #6b5fbb ,#140e39);
    border: 1px black solid;
    padding: 1.1%;
}
/* Estos cuadros de abajo se utilizan unicamente en caso de que sean los ultimos cuadros de la pagina */
.cuadros_rojos_ultimos
{
    width: 45%;
    background: linear-gradient(#cea800,#da7b00);
    border: 1px black solid;
    
    padding: 1.1%;
}

.cuadros_azules_ultimos
{
    width: 45%;
    background: linear-gradient(#cea800,#da7b00);
    border: 1px black solid;
    margin-bottom: 10%;
    padding: 1.1%;
}




table
{
    border-collapse: collapse;
    width: 90.5%;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 7px;
    margin: auto;
    padding: 1%;
}

tr, td
{
    border: 1px black solid;
    
}

td
{
    text-align: center;
    width: 10%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

th
{
    border: 1px black solid;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(89, 101, 211);
    padding: 1.5%;
}
.boton
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.boton-clase1
{
    width:50%;
    padding: 3%;
    margin-left: 2%;
    background: linear-gradient(rgb(100, 100, 255) , rgb(0, 0, 105)) ;
    margin-top: 5%;
    font-size: 17px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    border: 1px white solid;
    border-radius: 20px;
}

.boton-clase1:hover
{
    border-color: rgb(255, 255, 255);
    background: linear-gradient(rgb(191, 19, 197) , rgb(58, 3, 70));
    cursor: pointer;
}

.contenedor-bloques-main {
    /* background-color: #6b5fbb; */
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    display: inline-block;
    
}

.bloque{
    display: inline-block;
    width: 45%;
    height: auto;
    margin-bottom: 8%;
    background: linear-gradient(#e75d62 , #a7272b );
    padding: 1%;
    /* background-color: #9e1317; */

}










.cinta-abajo
{
    background-color: #c1272d;
    margin-top: 4%;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0%;
    position: fixed;
}

.icons
{
    width: 45%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-iconos
{
    width: 10%;
    display: inline-block;
    
    
    
}

.contenedor-iconos:hover
{
    width: 14%;
    transition: 500ms;
}

.contenedor-iconos2
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
    
}

.contenedor-iconos2:hover
{
    width: 14%;
    transition: 500ms;
}

.contenedor-iconos3
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
    
}

.contenedor-iconos3:hover
{
    width: 14%;
    transition: 500ms;
}

.contenedor-iconos4
{
    width: 10%;
    display: inline-block;
    margin-left: 8%;
}

.contenedor-iconos4:hover
{
    width: 14%;
    transition: 600ms;
}

img
{
    width: 100%;
}



      

  @media screen and (max-width:800px) {

    body{
    background-color: #df5b5f;;
    width: auto;
    overflow-x: hidden;
}
.cinta-arriba-roja
{
    
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    
}
.bloque-cinta2
{
    width: 35%;
    display: inline-block;
    padding:2%;
    border: 1px solid white;
    border-radius: 60px;
    background: linear-gradient(#e75d62 , #a7272b );
    margin-top: 2%;
    margin-bottom: 2%;

    
}
.texto-cinta-roja
{
    font-size: 13px;
}

.cinta-arriba-azul
{
    
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding-bottom: 4%;

}
.bloque-cinta1
{
    width: 35%;
    display: inline-block;
    padding:3%;
    border: 1px solid white;
    border-radius: 60px;
    background: linear-gradient( #453b86 ,#140e39);
    margin-top: 2%;

    
}
.texto-cinta
{
    font-size: 13px;
}

.cinta-abajo
{
    background-color: #c1272d;
    margin-top: 4%;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0%;
    position: fixed;
}

.icons
{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-iconos
{
    width: 100%;
    display: inline-block;
    
    
    
}



.contenedor-iconos2
{
    width: 100%;
    display: inline-block;
    margin-left: 10%;
    
}



.contenedor-iconos3
{
    width: 100%;
    display: inline-block;
    margin-left: 10%;
    
}



.contenedor-iconos4
{
    width: 100%;
    display: inline-block;
    margin-left: 10%;
}

.bloque{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #9e1317;
    margin-bottom: 15%;

}
.contenedor-logo-tec
{
    width: 45%;
    display: block;
    margin: auto;
}



}